<!DOCTYPE html>
<html>
  <head>
    <title>My Task List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Grocery Outlet Weekly Deals!</h1>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
          <div class="card">
            <p><img alt="Item 1" class="img-sm" src="https://f.wishabi.net/page_pdf_images/4378192/1d9512e8-3a5c-11e7-bcc7-0e09a475cc29/x_large" /></p>
            <h4>Cullen Creek</h4>
            <p>Premium California Virgin Olive Oil</p>
            <p>$6.99</p>
            <p>Save Up to $13.00, WOW! 65% OFF</p>
            <p>Valid: 2017-05-17 - 2017-05-23</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
          <div class="card">
            <p><img alt="Item 1" class="img-sm" src="https://f.wishabi.net/page_pdf_images/4378192/1d9512e8-3a5c-11e7-bcc7-0e09a475cc29/x_large" /></p>
            <h4>Cullen Creek</h4>
            <p>Premium California Virgin Olive Oil</p>
            <p>$6.99</p>
            <p>Save Up to $13.00, WOW! 65% OFF</p>
            <p>Valid: 2017-05-17 - 2017-05-23</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
          <div class="card">
            <p><img alt="Item 1" class="img-sm" src="https://f.wishabi.net/page_pdf_images/4378192/1d9512e8-3a5c-11e7-bcc7-0e09a475cc29/x_large" /></p>
            <h4>Cullen Creek</h4>
            <p>Premium California Virgin Olive Oil</p>
            <p>$6.99</p>
            <p>Save Up to $13.00, WOW! 65% OFF</p>
            <p>Valid: 2017-05-17 - 2017-05-23</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
          <div class="card">
            <p><img alt="Item 1" class="img-sm" src="https://f.wishabi.net/page_pdf_images/4378192/1d9512e8-3a5c-11e7-bcc7-0e09a475cc29/x_large" /></p>
            <h4>Cullen Creek</h4>
            <p>Premium California Virgin Olive Oil</p>
            <p>$6.99</p>
            <p>Save Up to $13.00, WOW! 65% OFF</p>
            <p>Valid: 2017-05-17 - 2017-05-23</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
          <div class="card">
            <p><img alt="Item 1" class="img-sm" src="https://f.wishabi.net/page_pdf_images/4378192/1d9512e8-3a5c-11e7-bcc7-0e09a475cc29/x_large" /></p>
            <h4>Cullen Creek</h4>
            <p>Premium California Virgin Olive Oil</p>
            <p>$6.99</p>
            <p>Save Up to $13.00, WOW! 65% OFF</p>
            <p>Valid: 2017-05-17 - 2017-05-23</p>
          </div>
        </div>
      </div>
    </div>



    <!--div id="data" class="container"></div-->
  </body>

  <script type="text/javascript" src="/js/main.js"></script>
</html>