<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Grocery Ad</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">05/17/17 - 05/23/17 Ad</h1>
      <div class="row row-margin-10 center" style="padding-bottom: 15px;">
        <span>Store:&nbsp;</span>
        <select id="storeSelect" class="select-control">
          <option value="go">Grocery Outlet</option>
          <option value="lucky">Lucky</option>
        </select>
      </div>

      <div id="pagingTop" class="row row-margin-10 center">        
      </div>

      <div id="grocery-items" class="row row-margin-10">
        <p class="text-center"><img alt="loading" src="/images/loading.gif" /></p>
      </div>

      <div id="pagingBottom" class="row row-margin-10 center">
      </div>

      <div class="row row-margin-10"></div>
    </div>



    <div id="errorMsg" class="container"></div>
  </body>

  <script type="text/javascript" src="/js/main.js"></script>
</html>