<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Task List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Grocery Outlet Weekly Deals!</h1>
      <div id="grocery-items" class="row">
        <p class="text-center"><img alt="loading" src="/images/loading.gif" /></p>
      </div>
    </div>



    <div id="errorMsg" class="container"></div>
  </body>

  <script type="text/javascript" src="/js/main.js"></script>
</html>